@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700&display=swap");

/* General styles */

* {
  box-sizing: border-box;
}

body,
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #bfbfbf;
}

/* Header style*/

.header {
  background: #0d0d0d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo {
  height: 60px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
}
.menu li a {
  display: block;
  padding: 10px;
}

/*section*/

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.container-list {
  align-items: center;
  margin: 20px;
  width: 100%;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  display: block;
  max-width: 500px;
  margin-left: 15%;
}

.container-list p {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  padding: 5px;
}

/* button */

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1px solid #fff;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 5em;
  text-transform: uppercase;
  color: #fff;
  background: #000000;
  margin-top: 30vh;
}

.btn:hover {
  background-color: #737373;
}

/* Footer*/

footer {
  height: 50px;
  background: #0d0d0d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  max-width: 100%;
  max-height: 600px;
}

footer > p {
  color: #fff;
  font-size: 15px;
  font-style: italic;
}

div {
  margin: 0;
}
