@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700&display=swap");

/* General styles */

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #bfbfbf;
}

/* Header style*/

.header {
  background: #0d0d0d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo {
  height: 60px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
}
.menu li a {
  display: block;
  padding: 10px;
}

/* cards */

.general-cards {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

img {
  height: 100%;
}

.card {
  height: 580px;
  width: 385px;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1em;
  border-radius: 10px;
  position: absolute;
}

.front {
  z-index: 2;
  backface-visibility: hidden;
}

.text {
  font-size: 1em;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);
}

.container-card:hover .card {
  transform: rotateY(180deg);
}

.container-card {
  perspective: 1000px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #bfbfbf;
}

.btn-perso {
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 5em;
  text-transform: uppercase;
  color: #fff;
  background: #000000;
  margin-top: 36vh;
}

.btn-perso:hover {
  background-color: #737373;
}

.btn-perso {
  margin-left: 10%;
}

/* Footer*/

footer {
  height: 50px;
  background: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  max-width: 100%;
  max-height: 600px;
}
footer > p {
  color: #fff;
  margin: 0;
}
